<div>
  <div class="container justify-content-center">
    <div class="bottom-img-profile"></div>
      <h2>Create a new account</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

         <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :username,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "uesrname" }%>
          <%= f.input :name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "first-name" }%>
          <%= f.input :lastname,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "last-name" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :photo,
                      as: :file,
                      input_html: { multiple: false } %>
        </div>

        <div class="form-actions">
          <button class="btn-signup"><%= f.button :submit, "Sign up" %></button>
        </div>
      <% end %>
      </br>
      or
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
