<div class="profile-card">
  <div class="container d-flex background-profile-page ">
    <div class="container justify-content-center">
      <div class="row align-items-center">
        <img class="profiles-photo" id="navbarDropdown" data-toggle="dropdown" src="https://kitt.lewagon.com/placeholder/users/ssaunier">
        <div>
          <h2><%= current_user.username %></h2>
          <p><%= current_user.name %> <%= current_user.lastname %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="title-left m-3">
      <h3>My previous runs</h3>
    </div>
    <div class="routes_history_card">
      <% @routes.first(3).each do |r| %>
        <a href="/?route=<%= r.id%>">
          <div class="card-event-profile">
            <%= image_tag "test_map.jpg" %>
            <div class="card-event-info">
              <div>
                <p><strong> Distance: </strong> <%= r.distance %> </p>
                <p><strong> Start point: </strong> <%= r.nodes.first.address %> </p>
                <p><strong> End point: </strong> <%= r.form == "Circular" ? r.nodes.first.address : r.nodes.last.address %> </p>
              </div>
            </div>
          </div>
        </a>
      <% end %>
    </div>

    <div class="title-left m-3">
      <h3>My events</h3>
    </div>
    <div>
      <div class="bottom-img-profile">
  </div>
</div>
