<div class="profile-card">
  <div class="container d-flex background-profile-page ">
    <div class="container justify-content-center">
      <div class="row align-items-center">
        <% if current_user.photo.attached? %>
          <%= cl_image_tag(current_user.photo.key, crop: :fill, class: "profiles-photo") %>
        <% else %>
          <%= image_tag "pp.png", crop: :fill, class: "profiles-photo"%>
        <% end %>
        <div>
          <h2><%= current_user.username %></h2>
          <p><%= current_user.name %> <%= current_user.lastname %></p>
        </div>
      </div>
    </div>
  </div>
  
</br>

<nav>
  <div class="d-flex justify-content-center"><h2 class="bungee-font-small">My routes</h2></div>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-history-tab" data-toggle="tab" href="#nav-history" role="tab" aria-controls="nav-history" aria-selected="true">History</a>
    <a class="nav-item nav-link" id="nav-events-tab" data-toggle="tab" href="#nav-events" role="tab" aria-controls="nav-events" aria-selected="false">Events</a>
  </div>
</nav>
</br>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-history" role="tabpanel" aria-labelledby="nav-history-tab">
    <div class="container">
      <div class="title-left m-3">
        <div class="routes_history_card">
          <% @routes.first(3).each do |r| %>
            <a href="/?route=<%= r.id%>">
              <div class="card-event-profile">
                <%= image_tag "test_map.jpg" %>
                <div class="card-event-info">
                  <div>
                    <p><strong> Distance: </strong> <%= r.distance %> meters</p>
                    <p><strong> Start point: </strong> <%= r.nodes.first.address.upcase %> </p>
                    <p><strong> End point: </strong> <%= r.form == "Circular" ? r.nodes.first.address.upcase : r.nodes.last.address.upcase %> </p>
                  </div>
                </div>
              </a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane fade" id="nav-events" role="tabpanel" aria-labelledby="nav-events-tab">
  <!-- code here for my events -->
  </div>
</div>
<div class="bottom-img-profile" style="background: linear-gradient(#FFFBE8, rgb(255,255,255), transparent), url(<%= image_path('city.png') %>);">
</div>
