<div class="d-flex justify-content-between w-100 navbar-lewagon <%= 'trans' if action_name == 'home' %>">
 <div>
    <div class="button_container" id="toggle">
      <span class="top"></span>
      <span class="middle"></span>
      <span class="bottom"></span>
    </div>
  </div>
  <div class="overlay" id="overlay">
    <nav class="overlay-menu">
     <ul>
       <li><%= link_to "Routes", routes_path, class: "text-dark" %></li>
       <li><%= link_to "Events", events_path, class: "text-dark" %></li>
       <% if user_signed_in? %>
         <li><%= link_to "Profile", user_path(current_user), class: "text-dark" %></li>
         <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "text-dark"%></li>
       <% else %>
         <li><%= link_to "Login", new_user_session_path, class: "text-dark" %></li>
       <% end %>
     </ul>
    </nav>
  </div>
  <div class="logo-position">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "MaxLogo.png" %>
    <% end %>
  </div>
</div>
