<div class="container justify-content-center">
  </br>
  <h1>Events</h1>
  <h2>What's on today..</h2>
  </br>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <% @events.each do |event| %>
        <a href="/events/<%= event.id %>">
        <div class="carousel-item <%= 'active' if event == @events.first %>">
          <card class="d-block w-100">
            <div class="card-event-lg">
              <%= cl_image_tag(event.photo.key, width: 400, height: 300, crop: :fill) %>
              <% if event == @events.first %>
              <div class="card-event-lg-info">
                <% end %>
                <div>
                  <h2><%= event.title %></h2>
                  <p><strong> <i class="fas fa-map-marker-alt"></i> <%= event.route.nodes.first.address %> </strong></p>
                  <p><strong> Distance: </strong><%= event.route.distance %></p>
                </div>
                <% if event == @events.first %>
              </div>
                <% end %>
            </div>
          </card>
        </div>
        </a>
      <% end %>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <h2>Coming up this week..</h2>
  </br>

  <div class="container">
    <% @events.each do |event| %>
    <a href="/events/<%= event.id %>">
      <div class="card-event">
       <%= image_tag "test_6.jpg" %>
       <div class="card-event-info">
          <div class="card-body">
            <h2><%= event.title %></h2>
            <p><strong>When:</strong> <%= event.starttime %> </p>
            <p><strong> Distance: </strong> <%= event.route.distance %> </p>
          </div>
        </div>
      </div>
    </a>
    <% end %>
  </div>
</div>
<div class="bottom-img-events">
</div>
