<div class="container">
  <div class="event_cover">
    <%= image_tag "test_map.png" %>
  </div>

  <div>
    <div class="event-info-show">
    <h2><%= @event.title %></h2>
      <p> <strong>Description: </strong><%= @event.description %> </p>
    </div>
    <div>
      <p><strong><i class="fas fa-map-marker-alt"></i></strong> <%= @event.route.nodes.first.address %></p>
      <p><strong><i class="fas fa-running"></i></strong><%= @event.route.distance %></p>
      <p><strong><i class="fas fa-clock"></i></strong><%= @event.starttime %></p>
      <p><i class="fas fa-users"></i></p>
    </div>
  </div>
</div>

<div class="join-container">
  <div class="row">
    <div class="col-md-12">
    <button class="btn btn-default charcoal-circle-button" href="">Join<span class="charcoal-circle-greater-than"></span></button>
    </div>
  </div>
</div>

<div class="bottom-img-events">
</div>
