<% user.friend_list.each do |f| %>
    <div class="big-card-profile">
      <a href="/users/<%= f.friend(user).id%>">
        <div class="card-event-profile">
          <% if f.friend(user).photo.attached? %>
            <%= cl_image_tag(f.friend(user).photo.key, width: 600, height: 500, crop: :fill) %>
          <% else %>
            <%= image_tag("pp.png", width: 600, height: 500, crop: :fill)%>
          <% end %>
          <div class="card-event-info h-100 p-2">
            <h4><%= f.friend(user).name.capitalize %> <%= f.friend(user).lastname.capitalize %> </h4>
            <div class="justify-content-between">
              <p> Username: <%= f.friend(user).username.capitalize %> </p>
              <p><%= f.friend(user).email %> </p>
            </div>
          </div>
        </div>
      </a>
    </div>
  <% end %>