<div class="container flex-direction-column justify-content-center">
  <div class="text-center">
    <%= form_for @new_node do |f|%>
      <div class="search-container h-100">
        <div class="d-flex justify-content-center h-100">
          <div class="searchbar">
            <%= f.text_field :address, autocomplete: 'off', class: "search_input", placeholder: "Search location" %>
            <button type="submit" class="search_icon"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% if @route %>
  <div class="bottom-choices center-route">
    <h3 class="m-1 mt-4"><i class="fas fa-running"></i> <%= @route.display_distance %>   ||   <i class="far fa-clock"></i> <%= @route.display_time %></h3>
    <%= link_to "Shuffle route", edit_route_path(@route), class: "btn btn-dark m-1 text-light" %>
    <%= link_to "Save route", profile_path, class: "btn btn-dark m-1 text-light" %>
    <a class="btn btn-dark m-1 text-light" href=<%=@route.build_google%> target="_blank">Follow in google maps</a>
  </div>
  <% else %>
  <div class="bottom-choices center-route">
    <h3 class="m-1 mt-4"><i class="fas fa-running"></i> ||  <i class="far fa-clock"></i></h3>
    <%= "Please search for a start point for your run"%>
  </div>
  <% end %>
</div>

</div>
<div id="home-map">
  <div id="mapa"
    data-path="<%= @paths.to_json %>"
    data-node="<%= @nodes.first.to_json %>"
    data-markers="<%= @markers.to_json %>"
    data-zoom_size="13"
    data-zoom_time="<%= @zoom_time %>">
  </div>
</div>