
<div class="container flex-direction-column justify-content-center">

  <div class="text-center">
    <%= form_for @new_node do |f|%>
      <div class="search-container h-100">
        <div class="d-flex justify-content-center h-100">

          <div class="searchbar">
            <%= f.text_field :address, class: "search_input", placeholder: "Search location" %>
            <button type="submit" class="search_icon"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </div>
    <% end %>

  </div>


  <div class="routes-container">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Route</span>
      </div>
      <input type="text" class="form-control">
      <input type="text" class="form-control">
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Route</span>
      </div>
      <input type="text" class="form-control">
      <input type="text" class="form-control">
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Route</span>
      </div>
      <input type="text" class="form-control">
      <input type="text" class="form-control">
    </div>
  </div>
</div>
  <div id="mapa" 
       data-path="<%= @paths.to_json %>" 
       data-node="<%= @nodes.first.to_json %>"
       data-markers="<%= @markers.to_json %>"></div>
